<div class="container">
    <ul class="list-group list-group-flush">
        <% for (var member of members) { %>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div style="display: flex; align-items: center;">
                    <div class="fw-bold"><%= member.login %></div>
                    <small class="link-secondary" style="margin-left: 8px;">(#<%= member.id %>)</small>
                </div>
                <% if (member.role == 0) { %>
                    <span class="badge text-bg-primary rounded-pill"><%= text.groups.group_members.owner %></span>
                <% } %>
            </li>
        <% } %>
    </ul>
</div>