*.invalid-data-shake {
    animation: shake 0.1s infinite;
}

@keyframes shake {
    0% { transform: translateX(0); }
    33% { transform: translateX(-10px); }
    66% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}


.content-wrapper {
    margin-top: 40px;
}

.login_container {
    width: fit-content;

    display: flex;
    flex-direction: column;
}

.login_container h2 {
    align-self: center;
}


.members-group-item:hover {
    background-color: var(--bs-secondary-bg);
}

.no-top-border {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.no-bottom-border {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.subject-list-item {
    margin-top: 10px;
}